.App{
    text-align: center;
    background-color: #130E16;
    height: auto;
    user-select: None;
}

body{
    cursor: none;
}

html{
    background-color: #130E16;
    cursor: none;
    scroll-behavior: smooth;

}

a{
    text-decoration: none;
    cursor: none;
}

::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}