@font-face {
    font-family: 'Lexend';
    src: url("../../font/Lexend/Lexend-Regular.ttf") format('truetype');
}


.form-component {
    text-align: left;
    font-family: Lexend;
    display: flex;
    padding-left: 5%;
    height: 100vh;
}

.WhiteH4Title {
    color: white;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0%;
    font-size: 4vh;
}

.GreyH5Text {
    color: #e0d1bb;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0%;
    font-size: 3vh;
}


#contactAndSocial {
    margin-right: 10%;
    padding-top: 5%;
}
#contact {
    padding-bottom: 20%;
}
.PageTitle {
    color: white;
    font-size: 9vh;
    display: inline;
    position: relative;
}
#Touch {
    color: #be904a;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0%;
    font-size: 4vh;
}
#phoneNumber {
    text-align: justify;
    padding-bottom: 20%;
}
#emailAdress {
    text-align: justify;
    padding-bottom: 20%;
}


#socialIcons {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2%;
    width: 15%;
    padding-left: 5%;

}
#socialIcons a {
    padding-left: 60%;
}
a:hover {
    cursor: None;
}

#cv {
    padding-top: 7%;
    margin-left: 15%;
    text-align: justify;
}

#cvContent {
    padding-top: 8%;
    text-align: center;
}

#LittleSubtitle {
    color: #be904a;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0%;
    font-size: 2vh;
}

#qrcode {
    height: 30%;
    width: 30%;
}

#animationArrow {
    transform: scaleX(-1) rotate(75deg);
    height: 30%;
    width: 30%;
    left: 75%;
    position: absolute;
}

#playerAnimation {
    padding-top: 7%;
}