@font-face {
    font-family: 'Lexend';
    src: url("../../font/Lexend/Lexend-Regular.ttf") format('truetype');
}

.header-component {
    cursor: None;
    height: 100vh;
    background-color: transparent;
}

.Name {
    font-family: Lexend;
    text-align: left;
    padding-left: 5%;
    padding-top: 12%;
}

#Hi {
    color: #be904a;
    margin-bottom: 1%;
    font-family: Lexend;
}

#Lea {
    color: white;
    font-size: 9vh;
    display: inline;
    position: relative;
    font-family: Lexend;
}

#Lea::after {
    content: ''; 
    position: absolute;
    bottom: -4%;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #be904a;
    border-radius: 2px;
    box-shadow: 0px 8px 15px rgba(190, 144, 74, 1);
}

.swiper-container {
    height: 100vh;
    width: 100%;
}

#Texte_animation {
    color: #e0d1bb;
}

#picture_about_me {
    position: absolute;
    padding-left: 10%;
    left: 55%;
    top: 15%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#social {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2%;
    width: 15%;
    padding-left: 5%;
}

#social a {
    padding-left: 20%;
}

a:hover {
    cursor: None;
}
