@font-face {
    font-family: 'Lexend';
    src: url("../../font/Lexend/Lexend-Regular.ttf") format('truetype');
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1%;
    height: 95vh;
    margin-top: 1%;
}

.box {
    border: 2px solid #e0d1bb;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
}

.box1 {
    grid-column: span 1;
    grid-row: span 1;
}

.box2 {
    grid-column: span 1;
    grid-row: span 3;
    margin-right: 5%;
}

.box3 {
    grid-column: span 2;
    grid-row: span 3;
}

#project-title{
    color: white;
    font-size: 9vh;
    padding-top: 20%;
    display: inline;
    position: relative;
    font-family: Lexend;
}

#project-title-2 {
    color: white;
    font-size: 9vh;
    display: inline;
    position: absolute;
    right: 9%;
    padding-top: 75%;
    transform: translateY(-50%);
    font-family: Lexend;
}

.project-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1%;
    height: 95vh;

}
